week3/.ipynb_checkpoints/Week3-checkpoint.ipynb
Book1.xlsx
week12/test_file.py
week15/__pycache__/utils.cpython-314.pyc
week15/pdf_parser_solution/__pycache__/applicant_class.cpython-314.pyc
week15/pdf_parser_solution/__pycache__/utils.cpython-314.pyc
