week3/.ipynb_checkpoints/Week3-checkpoint.ipynb
Book1.xlsx
week12/test_file.py
week15/__pycache__/utils.cpython-314.pyc
week15/pdf_parser_solution/__pycache__/applicant_class.cpython-314.pyc
week15/pdf_parser_solution/__pycache__/utils.cpython-314.pyc
week15/Applications/004_Art_Garfunkle/transcript_of_results.pdf
week15/Applications/004_Art_Garfunkle/art_garfunkle_cv.pdf
week15/Applications/003_Joey_Jo-Jo_Junior_Shabadoo/questionnaire-shabadoo.pdf
week15/Applications/003_Joey_Jo-Jo_Junior_Shabadoo/my_awesome_CV.pdf
week15/Applications/002_Fake_McFakefake/questionnaire-ma-digital-cultural-heritage.pdf
week15/Applications/002_Fake_McFakefake/diploma_fake.pdf
week15/Applications/002_Fake_McFakefake/curriculum_vitae.pdf
week15/Applications/001_Evan_Eames/questionnaire.pdf
week15/Applications/001_Evan_Eames/CV_Research.pdf
week15/Applications.zip
week15/Applications/001_Evan_Eames/BSC_degree.pdf
week15/pdf_parser_solution/Checklist_Admissions_2026.csv
week15/pdf_parser_solution/Complete_applicant_data_2026.csv
